@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
html{
    font-family: 'Poppins', sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tbao{
    height: 40px;
    text-align: center;
    background: #AEE2FF;
    color: black;
    line-height: 40px;
}
    .menu-logo{
        height: 70px;
        position: relative;
        background: whitesmoke;
    }
    .menu-logo .logo{
        position: absolute;
        top: 5px;
        left: 25px;
    }

    .menu-logo nav{
        position: absolute;
        right: 10px;
    }
    .menu-logo nav a{
        text-decoration: none;
        color: black;
        line-height: 70px;
        margin: 0 20px;
        transition: all 0.3s ease;
    }
    .menu-logo nav a:hover{
        color: #F48484;
        font-weight: bold;
        padding-right: 5px;
        font-size: large;
}
body{
    background: #F5EAEA;
    font-size: 14px;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 60%;
    padding: 40px 60px;
    background: #AEE2FF;
}
h1{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    background: #AEE2FF;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0 5px 15px 0px rgba(28, 0, 181,0.3);
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 5px 5px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 70%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
    display: flex;
}
ul{
	list-style: none;
}
