@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
html{
    font-family: 'Poppins', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
}
.tbao{
    height: 40px;
    text-align: center;
    background: #AEE2FF;
    color: black;
    line-height: 40px;
}
    .menu-logo{
        height: 70px;
        position: relative;
        background: white;
    }
    .menu-logo .logo{
        position: absolute;
        top: 5px;
        left: 25px;
    }

    .menu-logo nav{
        position: absolute;
        right: 10px;
    }
    .menu-logo nav a{
        text-decoration: none;
        color: black;
        line-height: 70px;
        margin: 0 20px;
        transition: all 0.3s ease;
    }
    .menu-logo nav a:hover{
        color: #F48484;
        font-weight: bold;
        font-size: large;
        padding-right: 5px;
        font-size: large;
    }
    .home{
        background-color: white;
    }
    .home nav a:hover{
        color: #F48484;
        font-weight: bold;
    }
    .home nav{
        position: absolute;
        right: 1450px;
    }
    .title{
        padding-left: 70px;
    }
    .home nav a{
        text-decoration: none;
        color: black;
    }
    .tintuc .new-post{
        width: 30%;
        margin: 20px 20px;
        display: inline-block;
        font-size: 14px;
    }
    .tintuc .new-post img{
        width: 100%;
    }
    .tintuc a{
        text-decoration: none;
        color: black;
        color: inherit;
        transition: all 0.3s ease;
    }
    .tintuc a:hover{
        color: #F48484;
    }
    .tintuc .new-post em{
        font-size: 12px;
    }
    .tintuc p{
        font-family: 'Poppins', sans-serif;
        color:#9b9797;
    }
    .footer{
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 5px 5px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 70%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
    }
    .container{
        max-width: 1170px;
        margin:auto;
    }
    .row{
        display: flex;
    }
    ul{
        list-style: none;
    }